<div class="home-background main-container">
  <p class="container-title">// Profil de Raphaël DENIS</p>

  <mat-icon svgIcon="curly"></mat-icon>
  <p>
    <span class="icons-color">
      {{ '{' }}
    </span>
    Après plusieurs années dans le support système/réseau<span class="icons-color">{{ ',' }}</span> j'ai eu le besoin
    d'apprendre à automatiser des tâches plus ou moins complexe<span class="icons-color">{{ ',' }}</span> ce qui m'a
    entrainé vers l'apprentissage du développement<span class="icons-color">{{ ':' }}</span> une formation intensive à
    la coding-academy d'Epitech<span class="icons-color">{{ '.' }}</span
    ><span class="icons-color">{{ '}' }}</span>
  </p>
  <p style="padding-left: 50px;">
    <span class="icons-color">
      {{ '{' }} </span
    >Actuellement en stage dans une startup<span class="icons-color">{{ ',' }}</span> je souhaiterais continuer de
    développer mes compétences sur Angular (6-7) et typeScript avant d'explorer d'autres frameworks/langages (idéalement
    toujours sur un socle AGILE/SCRUM)<span class="icons-color">{{ '.' }}</span
    ><span class="icons-color">{{ '}' }}</span>
  </p>
</div>
