@import '../../../../scss/variables';

.home-background {
  background-color: $vitrine-background;
  color: $vitrine-police-color;
}

.main-container {
  margin: 15px 45px;
  font-family: Hack;
  font-size: 20px;
}

.container-title {
  color: grey !important;
}

.icons-color {
  color: springgreen !important;
}
