@import '../../../../scss/variables';
.home-background {
  background-color: $vitrine-background;
  color: $vitrine-police-color;
}
.main-container {
  margin: 15px 45px;
  font-family: Hack;
}
.container-title {
  color: grey;
}
