/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: hack-regular default;
  src: url(../assets/hack-font/Hack-Regular.ttf);
}

@font-face {
  font-family: hack-bold;
  src: url(../assets/hack-font/Hack-Bold.ttf);
}

@font-face {
  font-family: hack-bold-italic;
  src: url(../assets/hack-font/Hack-BoldItalic.ttf);
}

@font-face {
  font-family: hack-italic;
  src: url(../assets/hack-font/Hack-Italic.ttf);
}
