<div class="top-menu-container">
  <ul>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <li *ngFor="let tab of menu" [ngClass]="{ active: tab.active, inactive: !tab.active }" (click)="redirect(tab)">
        <span>{{ tab.label }}</span>
      </li>
    </div>
  </ul>
</div>
<hr class="top-menu-divider" />
