.top-menu-container {
  color: azure;
  font-family: hack;
  background-color: black;
  border-bottom: 2px;
  border-bottom-color: azure;
  padding: 0 45px;
}

.top-menu-divider {
  border: 1px thin white;
  width: 90%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li span:hover {
  cursor: pointer;
}

.active {
  background-color: springgreen;
}

.active:hover {
  background-color: springgreen;
}

.inactive:hover {
  background-color: #111;
}
